.password {
    width: 100%;
    height: 100vh;
    border: 2px solid transparent;
    background-color: rgb(166, 96, 232);
}

.password1 {
    width: 40%;
    height: 60vh;
    border: 2px solid transparent;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-image: url(C:\Users\DELL\Downloads\login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 10px;
}

.password1 h1 {
    text-align: center;
    margin-top: 50px;
    color: purple;
    font-size: 40px;
}

.password1 input {
    margin-left: 35px;
    width: 85%;
    height: 40px;
    font-size: 20px;
    margin-top: 50px;
}

#Resetbtn {
    margin-top: 80px;
    margin-left: 240px;
    width: 20%;
    height: 35px;
    font-size: 20px;
    background-color: rgb(169, 46, 169);
    color: white;
}